 .rmsc {
     --rmsc-main: #4285f4;
     --rmsc-hover: #f1f3f5;
     --rmsc-selected: #e2e6ea;

     --rmsc-gray: #aaa;
     --rmsc-bg: #fff;
     --rmsc-p: 10px;

     --rmsc-h: 35px;
   
     --rmsc-color: #808080;
     margin-top: 2px;
     font-size: 15px;
 }

.multi-select{
 --rmsc-height: 40px !important; /* Height */ 
}

